CREATE TABLE DB_ALELO.DBO.TB_DESPESAS_DETALHADAS (
    DTBASE DATE,
    CODIGOCENTROCUSTO VARCHAR(10),
    CENTROCUSTOMASTER VARCHAR(100),
    VLDESPESA FLOAT,
    CODFILIALPRINCIPAL VARCHAR(10),
    CODCONTA BIGINT,
    MES_A VARCHAR(7),
    DESCRICAO VARCHAR(100),
    CENTROCUSTO VARCHAR(100),
    CENTROCUSTO_COD VARCHAR(10),
    CONTA VARCHAR(100),
    GRUPO VARCHAR(100),
    ORCADO FLOAT,
    PERRATEIO INT,
    REGISTRO DATETIME 
);

SELECT * FROM DB_ALELO.DBO.TB_DESPESAS_DETALHADAS